<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        {{>headers}}
        <h1>index.html</h1>
        <form>
            <input placeholder="location">
            <button>submit</button>
        </form>
        {{>footers}}
        <script src="/js/srcipt.js"></script>
    </body>
</html>